@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}
.header-area{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}
.header-area.active{
    right: 200px;
}
.header-area header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.header-section-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    opacity: .5;
    /* mix-blend-mode: overlay; */
}
.header-text-area{
    position: relative;
    z-index: 10;
    margin-top: 160px;
    text-align: center;
}
.header-text-area p{
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1em;
}
.header-text-area h2{
    font-size: 5em;
    line-height: 1em;
    text-transform: uppercase;
}
a.pemodule-button{
    display: inline-block;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .8s;
}
.pemodule-button:hover{
    letter-spacing: 6px;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #111;
    transition: 1.5s;
    margin: 20px 0;
}

